* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPro/SFProDisplay-Heavy.ttf");
}

body {
    background-color: #000;
    margin-right: 15px;
}

section.heading {
    width: 100%;
    min-height: 100%;
    padding: 49px 64px 0 64px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100%;
    min-height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAF9;
}

header nav ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

header nav ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FAFAF9;
    text-decoration: none;
}

section.workouts {
    width: 100%;
    padding: 180px 64px 0 121px;
    min-height: 965px;
    position: relative;
}

section.workouts .workout_items {
    display: flex;
    position: relative;
}

section.workouts .workout_items .workout_text {
    position: absolute;
    z-index: -2;
}

section.workouts .title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 172px;
    line-height: 170px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #FAFAF9;
}

section.workouts .sub_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 70px;
}

section.workouts button.btn {
    width: 200px;
    height: 70px;
    background: #E6533C;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 50px;
}

section.workouts .workout_opportunities {
    position: absolute;
    top: 57px;
    right: 0;
}

section.workouts .workout_opportunities img.men {
    position: absolute;
    right: 202px;
}

section.workouts .workout_opportunities .box-1 {
    position: absolute;
    width: 180px;
    height: 110px;
    top: -25px;
    right: 137px;
    background: #EF8964;
    border-radius: 12px;
    padding: 18px 29px;
}

section.workouts .workout_opportunities .box-1 .text_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-1 .text_1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

section.workouts .workout_opportunities .box-2 {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    top: 370px;
    right: 517px;
    width: 206px;
    height: 96px;
    background: #303030;
    border-radius: 12px;
    padding: 20px 23px;
}

section.workouts .workout_opportunities .box-2 .text_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-2 .text_2 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

section.workouts .workout_opportunities .box-3 {
    position: absolute;
    width: 193px;
    height: 98px;
    top: 460px;
    right: 70px;
    background: #7A29DC;
    border-radius: 12px;
    padding: 20px 22px;
}

section.workouts .workout_opportunities .box-3 .text_3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-3 .text_3 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(239, 237, 232, 0.65);
}

.features {
    margin-top: 110px;
    margin-left: 20px;
}

.features .feature_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: rgba(239, 237, 232, 0.65);
    margin-left: 20px;
}

.features img {
    margin-top: 33px;
}

section.start {
    width: 100%;
    min-height: 743px;
    padding: 200px 0 180px 141px;

}

section.start .start_title {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    /* line-height: 50px; */
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.start .start_subtitle {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 24px;
}

section.start .start_boxes {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 32px;
}

section.start .start_boxes .box {
    width: 304px;
    min-height: 190px;
    background: #323443;
    border-radius: 12px;
    padding: 52px 72px 52px 40px;
}

section.start .start_boxes .box .txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FAFAF9;
}

section.start .start_boxes .box .descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 12px;
}

section.opportunities {
    padding: 0px 64px 200px 64px;
    min-height: 1370px;
    width: 100%;
}

section.opportunities .opportunities-items {
    width: 100%;
    min-height: 1170px;
}

section.opportunities .opportunities-items .grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

section.opportunities .opportunities-items .at_home_txt {
    width: 100%;
    padding: 162px 69px 129px 86px;
}

section.opportunities .opportunities-items .at_home_txt .work-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.opportunities .opportunities-items .at_home_txt .work-descr {
    font-family: 'Inter';
    font-style: normal;
    max-width: 480px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 38px;
}

section.opportunities .opportunities-items .see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #0070C9;
    margin-top: 31px;
}

section.opportunities .opportunities-items .at_home_img img {
    width: 100%;
}

section.opportunities .opportunities-items .get_programs-img {
    width: 100%;
    margin-top: 121px;
}

section.opportunities .opportunities-items .get_programs {
    width: 100%;
    margin-top: 121px;
    padding: 55px 69px 37px 69px;
}

section.opportunities .opportunities-items .get_programs .get-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 65px;
    letter-spacing: 0.83px;
    color: #FAFAF9;
}

section.opportunities .opportunities-items .get_programs .get-descr {
    max-width: 503px;
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 40px;
}

section.membership {
    width: 100%;
    min-height: 888px;
    padding: 0 64px 27px 64px;
}

section.membership .member_items {
    width: 100%;
    min-height: 747px;
    padding: 0px 77px 36px 77px;
}

section.membership .member_items .member-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.83px;
    color: #FAFAF9;
}

section.membership .member_items .member-blocks {
    display: flex;
    margin-top: 77px;
}

section.membership .member_items .free,
.plus {
    width: 538px;
    height: 640px;
    background: #232532;
    padding: 71px 68px 77px 68px;
}

section.membership .member_items .free .join-txt,
.plus-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.membership .member_items .free .join-descr,
.plus-descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 34px;
}

section.membership .member_items .free .join-points,
.plus-points {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 16px;
    max-width: 404px;
    padding-left: 16px;
}

section.membership .member_items .free .see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #0070C9;
    margin-top: 102px;
}

section.membership .member_items .plus .join-club {
    width: 150px;
    height: 30px;
    background: #0070C9;
    border-radius: 10px;
    margin-top: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.membership .back a{
    width: 160px;
    height: 40px;
    background: #FAFAF9;
    box-shadow: 0px 4px 9px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    float: right;
}
section.membership .back a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    text-decoration: none;
}