* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPro/SFProDisplay-Heavy.ttf");
}

body {
    background-color: #000;
    margin-right: 15px;
}

section.heading {
    width: 100%;
    min-height: 100%;
    padding: 49px 64px 0 64px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100%;
    min-height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAF9;
    transition: 0.5s;
}

header .logo:hover {
    transform: scale(1.03);
    cursor: pointer;
    text-shadow: -1px -1px 12px #FFFFFF;
    -webkit-text-stroke: #000 0.1px;
}

header nav ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

header nav ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FAFAF9;
    text-decoration: none;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #feffff;
    text-shadow: 1px 1px -1px#fbfeff;
}
header nav ul li a:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: all 0.5s ease;
}

header nav ul li a:hover::after {
    width: 100%;
}
section.workouts {
    width: 100%;
    padding: 180px 64px 0 121px;
    min-height: 965px;
    position: relative;
}

section.workouts .workout_items {
    display: flex;
    position: relative;
}

section.workouts .title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 172px;
    line-height: 170px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #FAFAF9;
}

section.workouts .sub_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 70px;
}

section.workouts button {
    display: inline-block;
    width: 200px;
    height: 70px;
    background: #E6533C;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.5s;
}

section.workouts button:hover {
    background-color: #941603;
}

section.workouts button:active {
    background-color: #000000;
}

section.workouts button a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
}

section.workouts .workout_opportunities {
    position: absolute;
    top: 57px;
    right: 0;
}

section.workouts .workout_opportunities img.men {
    position: absolute;
    right: 202px;
    transition: 0.5s;
    height: auto;
}

section.workouts .workout_opportunities img.men:hover {
    transform: scale(1.03);
}

section.workouts .workout_opportunities .box-1 {
    position: absolute;
    width: 180px;
    height: 110px;
    top: -25px;
    right: 137px;
    background: #EF8964;
    border-radius: 12px;
    padding: 18px 29px;
}

.numbers-items {
    width: 100%;
}

.number {
    display: flex;
    align-items: center;
}

.number1 {
    display: flex;
    align-items: center;
}

.number2 {
    display: flex;
    align-items: center;
}

section.workouts .workout_opportunities .box-1 .text_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-1 .text_1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

section.workouts .workout_opportunities .box-2 {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    top: 370px;
    right: 517px;
    width: 206px;
    height: 96px;
    background: #303030;
    border-radius: 12px;
    padding: 20px 23px;
    z-index: 1;

}

section.workouts .workout_opportunities .box-2 .text_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-2 .text_2 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

section.workouts .workout_opportunities .box-3 {
    position: absolute;
    width: 193px;
    height: 98px;
    top: 460px;
    right: 70px;
    background: #7A29DC;
    border-radius: 12px;
    padding: 20px 22px;
}

section.workouts .workout_opportunities .box-3 .text_3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FAFAF9;
}

section.workouts .workout_opportunities .box-3 .text_3 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(239, 237, 232, 0.65);
}

section.workouts .features {
    margin-top: 110px;
    margin-left: 20px;
}

section.workouts .features .feature_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: rgba(239, 237, 232, 0.65);
    margin-left: 20px;
}

section.workouts .features img {
    margin-top: 33px;
}

section.start {
    width: 100%;
    min-height: 743px;
    padding: 200px 0 180px 141px;

}

section.start .start_title {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.start .start_subtitle {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 24px;
}

section.start .owl-carousel {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 32px;
}

section.start .owl-carousel .box {
    width: 304px;
    min-height: 190px;
    background: #323443;
    border-radius: 12px;
    padding: 52px 72px 52px 40px;
    transition: 0.5s;
}

section.start .owl-carousel .box:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 50px #232532;
    cursor: pointer;
}

section.start .owl-carousel .box .txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FAFAF9;
    text-align: left;
}

section.start .owl-carousel .box .descr {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 12px;
    text-align: left;
}

section.start .owl-carousel .box .descr span {
    position: absolute;
    right: 7px;
}

section.start .owl-carousel .box .descr span.dot-1 {
    position: absolute;
    right: 62px;
}

section.start .owl-carousel .box .descr span.dot-2 {
    position: absolute;
    right: 9px;
}

section.start .owl-carousel .box .descr span.dot-3 {
    position: absolute;
    right: 68px;
}

section.opportunities {
    padding: 0px 64px 200px 64px;
    min-height: 1370px;
    width: 100%;
}

section.opportunities .opportunities-items {
    width: 100%;
    min-height: 1170px;
}

section.opportunities .opportunities-items .grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

section.opportunities .opportunities-items .at_home_txt {
    width: 100%;
    padding: 162px 69px 129px 86px;
}

section.opportunities .opportunities-items .at_home_txt .work-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.opportunities .opportunities-items .at_home_txt .work-descr {
    font-family: 'Inter';
    font-style: normal;
    max-width: 480px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 38px;
}


section.opportunities .opportunities-items .see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #0070C9;
    margin-top: 31px;
}


section.opportunities .opportunities-items .see-more img {
    transition: 0.3s;
}

section.opportunities .opportunities-items .see-more img:hover {
    transform: scale(1.1);
}

section.opportunities .opportunities-items .at_home_img {
    overflow: hidden;
    transition: 0.5s;
}

section.opportunities .opportunities-items .at_home_img:hover {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 20px #FFFFFF;

}

section.opportunities .opportunities-items .at_home_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

section.opportunities .opportunities-items .at_home_img img:hover {
    transform: scale(1.04);
}

section.opportunities .opportunities-items .get_programs-img {
    width: 85%;
    margin-top: 121px;
    overflow: hidden;
    transition: 0.5s;
}

section.opportunities .opportunities-items .get_programs-img:hover {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 20px #FFFFFF;

}

section.opportunities .opportunities-items .get_programs-img img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    box-shadow: 1px 1px 20px #FFFFFF;
    transition: 0.5s;
}

section.opportunities .opportunities-items .get_programs-img img:hover {
    transform: scale(1.04);
}

section.opportunities .opportunities-items .get_programs {
    width: 100%;
    margin-top: 121px;
    padding: 55px 69px 37px 69px;
}

section.opportunities .opportunities-items .get_programs .get-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 65px;
    letter-spacing: 0.83px;
    color: #FAFAF9;
}

section.opportunities .opportunities-items .get_programs .get-descr {
    max-width: 503px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 40px;
}


section.membership {
    width: 100%;
    min-height: 888px;
    padding: 0 64px 27px 64px;
}

section.membership .member_items {
    width: 100%;
    min-height: 747px;
    padding: 0px 77px 36px 77px;
}

section.membership .member_items .member-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.83px;
    color: #FAFAF9;
}

section.membership .member_items .member-blocks {
    display: flex;
    margin-top: 77px;
}

section.membership .member_items .free,
.plus {
    width: 538px;
    height: 640px;
    background: #232532;
    padding: 71px 68px 77px 68px;
    box-shadow: 5px 5px 20px #232532;
    transition: 0.5s;
}

section.membership .member_items .free:hover {
    transform: scale(1.002);
    box-shadow: 1px 1px 20px #83879d;
    border-radius: 20px;
}

section.membership .member_items .plus:hover {
    transform: scale(1.002);
    box-shadow: 1px 1px 20px #83879d;
    border-radius: 20px;
}

section.membership .member_items .free .join-txt,
.plus-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

section.membership .member_items .free .join-descr,
.plus-descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 34px;
}

section.membership .member_items .free .join-points,
.plus-points {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 16px;
    max-width: 404px;
    padding-left: 16px;
}

section.membership .member_items .free .see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #0070C9;
    margin-top: 102px;
    transition: 0.3s;
}

section.membership .member_items .free .see-more:hover {
    cursor: pointer;
}

section.membership .member_items .free .see-more img {
    transition: 0.3s;
}

section.membership .member_items .free .see-more img:hover {
    transform: scale(1.1);
}

section.membership .member_items .plus .join-club {
    width: 150px;
    height: 30px;
    background: #0070C9;
    border-radius: 10px;
    margin-top: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAF9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

section.membership .member_items .plus .join-club:hover {
    transform: scale(1.05);
    cursor: pointer;
}

section.membership .back a {
    width: 160px;
    height: 40px;
    background: #FAFAF9;
    box-shadow: 0px 4px 9px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    float: right;
    transition: 0.5s;
}

section.membership .back a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    text-decoration: none;
}

section.membership .back a:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255);
    transform: scale(1.05);
    border-radius: 10px;
}

@media only screen and (max-width: 575px) {
    header nav ul {
        display: none;
    }

    section.heading {
        padding: 49px 30px 0 30px;
    }

    section.workouts {
        padding: 180px 30px 0 30px;
        display: block;
    }

    section.workouts .workout_items {
        display: block;
    }

    section.workouts .workout_items .workout_text {
        position: static;
    }

    section.workouts .title {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 1px;
    }

    section.workouts .sub_title {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    section.workouts button {
        width: 150px;
        height: 50px;
        margin-top: 90px;
        transition: 0.5s;
    }

    section.workouts button:hover {
        background-color: #9d2a00;
    }

    section.workouts button:active {
        background-color: transparent;
    }

    section.workouts button a {
        font-size: 15px;
    }

    section.workouts .workout_opportunities {
        position: static;
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        width: 100%;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    section.workouts .workout_opportunities img.men {
        position: static;
        width: 100%;
    }

    section.workouts .workout_opportunities .box-1 {
        width: 150px;
        height: 90px;
        padding: 15px 20px;
        position: static;
    }

    section.workouts .workout_opportunities .box-1 .text_1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -2px;

    }

    section.workouts .workout_opportunities .box-1 .text_1 span {
        font-size: 16px;
    }

    section.workouts .workout_opportunities .box-2 {
        width: 187px;
        height: 96px;
        padding: 15px 20px;
        position: static;
        margin-top: 30px;
    }

    section.workouts .workout_opportunities .box-2 .text_2 {
        font-size: 19px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-2 .text_2 span {
        font-size: 13px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-3 {
        width: 170px;
        padding: 25px 22px;
        position: static;
        margin-top: 30px;
        height: 90px;
    }

    section.workouts .workout_opportunities .box-3 .text_3 {
        font-size: 30px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-3 .text_3 span {
        font-size: 10px;
    }

    section.workouts .features img {
        width: 100%;
        margin-top: 33px;
    }

    section.start {
        padding: 200px 0 50px 30px;
    }

    section.start .start_title {
        font-size: 30px;
    }

    section.start .start_subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    section.start .start_boxes {
        flex-wrap: wrap;
    }

    section.opportunities {
        padding: 0px 64px 180px 30px;
        min-height: 1570px;
        width: 100%;
    }

    section.opportunities .opportunities-items .grid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    section.opportunities .opportunities-items .at_home_txt {
        width: 100%;
        padding: 100px 20px 90px 10px;
    }

    section.opportunities .opportunities-items .at_home_txt .work-txt {
        font-size: 35px;
        line-height: 40px;
        order: 1;
    }

    section.opportunities .opportunities-items .at_home_txt .work-descr {
        width: 100%;
        font-size: 14px;
    }

    section.opportunities .opportunities-items .see-more img:hover {
        transform: scale(1.05);
    }

    section.opportunities .opportunities-items .at_home_img:hover {
        box-shadow: 1px 1px 15px #FFFFFF;
    }


    section.opportunities .opportunities-items .at_home_img img:hover {
        transform: scale(1.02);
    }

    section.opportunities .opportunities-items .get_programs-img {
        height: 21rem;
        width: 23.7rem;
        background-color: transparent;
        order: 4;
        width: 100%;
        margin-top: 6rem;
    }

    section.opportunities .opportunities-items .get_programs-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.5s;

    }

    section.opportunities .opportunities-items .get_programs-img img:hover {
        transform: scale(1.04);
        box-shadow: 1px 1px 15px #FFFFFF;
    }

    section.opportunities .opportunities-items .get_programs {
        width: 100%;
        margin-top: 121px;
        padding: 0px 20px 0px 10px;
        order: 2;

    }

    section.opportunities .opportunities-items .get_programs .get-txt {
        font-size: 35px;
        line-height: 45px;
    }

    section.opportunities .opportunities-items .get_programs .get-descr {
        font-size: 14px;
        line-height: 24px;
    }

    section.membership {
        padding: 0px 64px 27px 10px;
    }

    section.membership .member_items {
        padding: 0px 77px 0px 30px;
    }

    section.membership .member_items .member-title {
        font-size: 35px;
    }

    section.membership .member_items .member-blocks {
        flex-wrap: wrap;
        gap: 3rem;
    }

    section.membership .member_items .free,
    .plus {
        max-width: 350px;
        padding: 50px 50px 0px 50px;
        min-height: 100%;
    }

    section.membership .member_items .plus {
        max-width: 350px;
        padding: 30px 50px 0px 50px;
    }

    section.membership .member_items .free .join-txt,
    .plus-txt {
        font-size: 20px;
    }

    section.membership .member_items .free .plus-txt {
        font-size: 15px;

    }

    section.membership .member_items .free .join-descr,
    .plus-descr {
        font-size: 13px;
        margin-top: 30px;
    }

    section.membership .member_items .free .join-points,
    .plus-points {
        font-size: 13px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .plus-points {
        font-size: 10px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .free .plus-points {
        font-size: 13px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .free .see-more {
        font-size: 14px;
        margin-top: 50px;
    }

    section.membership .back a {
        width: 130px;
        height: 30px;
        float: right;
        margin-top: 50px;
    }

    section.membership .back a {
        font-size: 15px;
        line-height: 22px;
    }

}

@media only screen and (max-width: 768px) {
    header nav ul {
        display: none;
    }

    section.heading {
        padding: 49px 30px 0 30px;
    }

    section.workouts {
        padding: 180px 30px 0 30px;
        display: block;
    }

    section.workouts .workout_items {
        display: block;
    }

    section.workouts .workout_items .workout_text {
        position: static;
    }

    section.workouts .title {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 1px;
    }

    section.workouts .sub_title {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    section.workouts button {
        width: 150px;
        height: 50px;
        margin-top: 90px;
        transition: 0.5s;
    }

    section.workouts button:hover {
        background-color: #9d2a00;
    }

    section.workouts button:active {
        background-color: transparent;
    }

    section.workouts button a {
        font-size: 15px;
    }

    section.workouts .workout_opportunities {
        position: static;
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        width: 100%;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    section.workouts .workout_opportunities img.men {
        position: static;
        width: 100%;
    }

    section.workouts .workout_opportunities .box-1 {
        width: 150px;
        height: 90px;
        padding: 15px 20px;
        position: static;
    }

    section.workouts .workout_opportunities .box-1 .text_1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -2px;

    }

    section.workouts .workout_opportunities .box-1 .text_1 span {
        font-size: 16px;
    }

    section.workouts .workout_opportunities .box-2 {
        width: 187px;
        height: 96px;
        padding: 15px 20px;
        position: static;
        margin-top: 30px;
    }

    section.workouts .workout_opportunities .box-2 .text_2 {
        font-size: 19px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-2 .text_2 span {
        font-size: 13px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-3 {
        width: 170px;
        padding: 25px 22px;
        position: static;
        margin-top: 30px;
        height: 90px;
    }

    section.workouts .workout_opportunities .box-3 .text_3 {
        font-size: 30px;
        line-height: 20px;
    }

    section.workouts .workout_opportunities .box-3 .text_3 span {
        font-size: 10px;
    }

    section.workouts .features img {
        width: 100%;
        margin-top: 33px;
    }

    section.start {
        padding: 200px 0 50px 30px;
    }

    section.start .start_title {
        font-size: 30px;
    }

    section.start .start_subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    section.start .start_boxes {
        flex-wrap: wrap;
    }

    section.opportunities {
        padding: 0px 64px 180px 30px;
        min-height: 1570px;
        width: 100%;
    }

    section.opportunities .opportunities-items .grid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    section.opportunities .opportunities-items .at_home_txt {
        width: 100%;
        padding: 100px 20px 90px 10px;
    }

    section.opportunities .opportunities-items .at_home_txt .work-txt {
        font-size: 35px;
        line-height: 40px;
        order: 1;
    }

    section.opportunities .opportunities-items .at_home_txt .work-descr {
        width: 100%;
        font-size: 14px;
    }

    section.opportunities .opportunities-items .see-more img:hover {
        transform: scale(1.05);
    }

    section.opportunities .opportunities-items .at_home_img:hover {
        box-shadow: 1px 1px 15px #FFFFFF;
    }


    section.opportunities .opportunities-items .at_home_img img:hover {
        transform: scale(1.02);
    }

    section.opportunities .opportunities-items .get_programs-img {
        height: 21rem;
        width: 23.7rem;
        background-color: transparent;
        order: 4;
        width: 100%;
        margin-top: 6rem;
    }

    section.opportunities .opportunities-items .get_programs-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.5s;

    }

    section.opportunities .opportunities-items .get_programs-img img:hover {
        transform: scale(1.04);
        box-shadow: 1px 1px 15px #FFFFFF;
    }

    section.opportunities .opportunities-items .get_programs {
        width: 100%;
        margin-top: 121px;
        padding: 0px 20px 0px 10px;
        order: 2;

    }

    section.opportunities .opportunities-items .get_programs .get-txt {
        font-size: 35px;
        line-height: 45px;
    }

    section.opportunities .opportunities-items .get_programs .get-descr {
        font-size: 14px;
        line-height: 24px;
    }

    section.membership {
        padding: 0px 64px 27px 10px;
    }

    section.membership .member_items {
        padding: 0px 77px 0px 30px;
    }

    section.membership .member_items .member-title {
        font-size: 35px;
    }

    section.membership .member_items .member-blocks {
        flex-wrap: wrap;
        gap: 3rem;
    }

    section.membership .member_items .free,
    .plus {
        max-width: 350px;
        padding: 50px 50px 0px 50px;
        min-height: 100%;
    }

    section.membership .member_items .plus {
        max-width: 350px;
        padding: 30px 50px 0px 50px;
    }

    section.membership .member_items .free .join-txt,
    .plus-txt {
        font-size: 20px;
    }

    section.membership .member_items .free .plus-txt {
        font-size: 15px;

    }

    section.membership .member_items .free .join-descr,
    .plus-descr {
        font-size: 13px;
        margin-top: 30px;
    }

    section.membership .member_items .free .join-points,
    .plus-points {
        font-size: 13px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .plus-points {
        font-size: 10px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .free .plus-points {
        font-size: 13px;
        line-height: 22px;
        max-width: 404px;
    }

    section.membership .member_items .free .see-more {
        font-size: 14px;
        margin-top: 50px;
    }

    section.membership .back a {
        width: 130px;
        height: 30px;
        float: right;
        margin-top: 50px;
    }

    section.membership .back a {
        font-size: 15px;
        line-height: 22px;
    }

}



@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}